*{
    margin: 3px;
    padding: 0;

}

i{
  font-size: 350%;

}

.photolab{
    display: flex;
    
}

.icon{
    margin: 30px ;
    padding: 30px;
}

.icony{
    display:flex;
flex-direction:column;
align-items:last baseline;

 }

.lien{
 
    color: black;
}
p{
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;

}
.ti{
        color: #767676;
        font-family: "Helvetica Neue", Arial, sans-serif;
        font-size: 13px;
}

.top{
    font-family: "Acumin Pro ExtraCondensed", Arial, sans-serif;
   font-weight: 900;
   line-height: 57px;
   text-transform: uppercase;
  box-sizing: border-box;
}
.test{
 display: flex; 
justify-content: end;
}